<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="Tests/bootstrap.php"
        colors="true"
        executionOrder="depends,defects"
        stderr="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_STRICT"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>